{% extends 'base.html.twig' %}

{# { % block title % } Inscription {% endblock %} #}
{% block title %}
    Inscription
{% endblock %}

{% block body %}

{{ form_start(form) }}
<div class="container">

{# prenom #}
<div class="mb-3">
{{ form_label(form.prenom) }}
{{ form_widget(form.prenom) }}
</div>

{# nom #}
<div class="mb-3">
{{ form_label(form.nom) }}
{{ form_widget(form.nom) }}
</div>

{# l'email #}
<div class="mb-3">
{{ form_label(form.email) }}
{{ form_widget(form.email) }}
</div>

{# mot de passe #}
<div class="mb-3">
{{ form_label(form.password) }}
{{ form_widget(form.password) }}
</div>

{{ form_end(form) }}
</div>
{% endblock %}

